<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do App</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <section  class="todo-container">
        <h2>To Do List</h2>

        <section class="todo">
            <form action="/" method="POST" class="todo-header">
                <input type="text" name="title" placeholder="Title">
                <textarea rows="6" cols="45" name="content" placeholder="Content"></textarea>
                <button type="submit"><span class="fas fa-plus"></span> Add Item</button>
            </form>
            <ul class="todo-list">
                <% toDoTasks.forEach(content => {%>
                <li class="todo-list-item">
                    <div class="todo-list-item-title">
                        <%=content.title %>
                    </div>
                    <div class="todo-list-item-content">
                        <%=content.content %>
                    </div>
                    <a href="/edit/<%=content._id %>" class="edit"><span class="fas fa-edit"></span></a>
                    <a href="/remove/<%=content._id %>" class="remove"><span class="fas fa-times"></span></a>
                </li>
               <% }) %>
            </ul>
        </section>

    </section>

    
</body>
</html>